<%-include('../partials/header')%>
<body class='account-body'>
    <div class='account-container'>
            <main>
                <div class="section">
                    <h5>My Account:</h5>
                    <div class='row'>
                        <div class='col s6'>What is your name?</div>
                        <div class='col s6'>Location:</div>
                        <div class='col s6'><span class="account-user"><%=user.username%></span></div>
                        <div class='col s6'><span class="account-user"><%=user.location%></span></div>
                    </div>
                    <div class='row'>
                        <div class='col s12'>How can you be reached?</div>
                        <div class='col s6'>Email:</div>
                        <div class='col s6'>Phone:</div>
                        <div class='col s6'><span class="account-user"><%=user.email%></span></div>
                        <div class='col s6'><span class="account-user"><%=user.phone%></span></div>
                    </div>
                </div>
                <div class="section">
                    <h5>Pets:</h5>
                        <section>
                            <a href="/dogs/new"><button class="waves-effect waves-light btn">Add a pet for adoption</button></a>
                        </section>
                        <div class='row'>
                            <% for(let i = 0; i < user.pets.length; i++){ %>
                                <div class='col s6'><a href="/users/<%=user.pets[i]._id%>"><%=user.pets[i].name%></a></div>
                            <% } %>
                        </div>
                </div>
                <div class="account-button">
                    <a href="/users/<%=user._id%>/edit"><button class="waves-effect waves-light btn">Edit Account</button></a>
                    <a href="/dogs"><button class="waves-effect waves-light btn">Home</button></a>
                </section>
            </main>
    </div>
</body>


<%-include('../partials/footer')%>