
<%- include ../partials/header %>
<%-include ../partials/banner%>

  <%if(!isLogged) {%>
    <%- include ../partials/head %>
  <%} else {%>
    <%-include("../partials/navlogged")%>
  <%}%>
  
 <div class="olvin_content_flex">
   
  <article class="aboutInfo">
    <div class="aboutImg">
      <img src="https://i.imgur.com/49LlJ65.jpg?1" alt="Olvin's pic">
    </div>

      <p>
        <span class="aboutName" style="font-size: 24px">Olvin Bolanos</span></br> 
        <cite style="font-size: 20px;">Full-Stack Web Developer</cite></br> 
      </p>

      <aside>
        <p>
          <span><a href="https://www.linkedin.com/in/olvindev/" target="_blank"><i class="fab fa-linkedin"></i></a></span>
          <span><a href="https://github.com/olvinbolanos" target="_blank"><i class="fab fa-github"></i></a></span> 
          <span><a href="https://m.facebook.com/coderDeveloper1" target="_blank"><i class="fab fa-facebook-square"></i></a></span> 
          <span><a href="https://www.instagram.com/coldwarcoder/" target="_blank"><i class="fab fa-instagram"></i></a></span>

        </p>        
      </aside>

        <p>
          The best part of this website is its functionality and the way it functions when you log-in. I collaborated on this project by custom making the navbar and 
          if the user is logged in, then it changes to a different navbar with an author character. The navigation changes and it totally resizes each time you minimize the page.
          I enjoyed collaborating on the front and back-end. The looks are great and the user could easily navigate through our site. I like to thank my team members
          for being a huge help with this project. 
        </p>
        <p>
          Contact me up above. I'll be glad to respond back.
        </p>
</article>


    <article class="aboutInfo">
        <div class="aboutImg">
          <img src="https://i.imgur.com/X5LMqoq.jpg" alt="Olvin's pic">
        </div>
    
          <p>
             <span class="aboutName" style="font-size: 30px">Sam Early</span></br> 
             <cite style="font-size: 20px;">Full-Stack Web Developer</cite></br> 
          </p>
          
          <aside>
            <p>
              <span><a href="#"><i class="fab fa-linkedin"></i></a></span>
              <span><a href="#"><i class="fab fa-github"></i></a></span> 
              <span><a href="#"><i class="fab fa-facebook-square"></i></a></span> 
              <span><a href="#"><i class="fab fa-instagram"></i></a></span>
            </p>        
          </aside>
    
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit eveniet officia nostrum reiciendis ab illum voluptates consequatur, excepturi porro odio harum quo debitis corrupti voluptas recusandae architecto, a, distinctio quaerat.
            </p>
              <p>
                Contact me for any more info on how to reach us. I'll be glad to help.
              </p>
    </article>


        <article class="aboutInfo">
            <div class="aboutImg">
              <img src="https://i.imgur.com/Zr9DMVy.jpg" alt="David's Pic">
            </div>
        
              <p>
                 <span class="aboutName" style="font-size: 30px">David Zinser</span></br> 
                 <cite style="font-size: 20px;">Full-Stack Web Developer</cite></br> 
              </p>

              <aside>
                <p>
                  <span><a href="#"><i class="fab fa-linkedin"></i></a></span>
                  <span><a href="#"><i class="fab fa-github"></i></a></span> 
                  <span><a href="#"><i class="fab fa-facebook-square"></i></a></span> 
                  <span><a href="#"><i class="fab fa-instagram"></i></a></span>
                </p>        
              </aside>
        
                <p>.
                    Being a part of this team was a blast!  We created - and deployed via Heroku - a fully functional CRUD app using JavaScript, Express, NodeJS, Mongoose, MongoDB and  Materialize for styling features.  My favorite part of this project and experience levels to focus on executing this singular goal
                </p>
                  <p>
                    If you have any questions, just email me!
                  </p>
            </article>
        </div>

        <article class="location loc2">
          <address id="localArea">
            <span>Address</span></br>
            Furever Friend Adoption Center
            ATTN: Development
            1625 Sundog Ranch Road
            Pasadena, CA 91101
          </address>
        </article>
        <style>
            /**** about dog page ****/
         .olvin_content_flex {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 100%;
          }
        
          .aboutInfo {
            display: flex;
            flex-flow: column wrap;
            width: 30%;
            height: 30%;
            padding: 5px;
          }
        
          .aboutInfo p {
            text-align: center;
          }
        
          .aboutImg img{
            width: 200px;
            height: 200px;
            border: 1px solid #513E4B;
            border-radius: 10px 22px 9px 52px;
            box-shadow: 3px 8px 9px #513E4B;
            padding: 2px;
          }
        
          .aboutImg {
            align-self: center;
          }
        
          .fab {
            font-size: 40px;
            color: #513E4B;
            margin: 5px;
            font-weight: bold;
            transition: -webkit-transform 1s, opacity 1s, background 1s, width 1s, height 1s, font-size 1s;
            transition-property: width, height, transform, background, font-size, opacity;
            transition-duration: 1s 1s 1s 1s 1s 1s;
            border-radius: 5px;
            opacity: 0.4;
        
          }
        
          .fab:hover {
            background: #ffffff;
            color: red;
            opacity: 1;
            font-size: 55px;
          }
        
        @media screen and (max-width: 800px) {
            .olvin_content_flex {
            flex-flow: column;
            justify-content: center;
            align-items: center;
            width: 100%;
          }
        
          .aboutInfo {
            display: flex;
            flex-flow: column wrap;
            width: 60%;
            height: 40%;
            padding: 5px;
          }
        
          .aboutInfo p {
            text-align: center;
          }
        
        }
          </style> 
        
  <%- include ../partials/footer %>
