
<%- include ../partials/header %>
<%-include ../partials/banner%>

  <%if(!isLogged) {%>
    <%- include ../partials/head %>
  <%} else {%>
    <%-include("../partials/navlogged")%>
  <%}%>

 <div class="olvin_content_flex">
   
  <article class="aboutInfo">
    <div class="aboutImg">
      <img src="https://i.imgur.com/49LlJ65.jpg?1" alt="Olvin's pic">
    </div>

      <p>
         <span class="aboutName" style="font-size: 24px">Olvin Bolanos</span></br> 
         <cite style="font-size: 20px;">Full-Stack Web Developer</cite></br> 
      </p>

      <aside>
        <p>
          <span><a href="https://www.linkedin.com/in/olvindev/" target="_blank"><i class="fab fa-linkedin"></i></a></span>
          <span><a href="https://github.com/olvinbolanos" target="_blank"><i class="fab fa-github"></i></a></span> 
          <span><a href="https://m.facebook.com/coderDeveloper1" target="_blank"><i class="fab fa-facebook-square"></i></a></span> 
          <span><a href="https://www.instagram.com/coldwarcoder/" target="_blank"><i class="fab fa-instagram"></i></a></span>
        </p>        
      </aside>

        <p>
          The best part of this website is its functionality and the way the site functions when you log-in. It uses the users information in each page and surprise
          the way th nav bar functions depends on whether the user is logged in or not. The navigation changes and it totally resizes each time you minimize the page.
          This website I've had fun developing the front and back-end. The looks are great and the user could easily navigate through our pages. I like to thank my team members
          for being a real huge help through this project and hopefully this website stands out. 
        </p>
          <p>
            Contact me for any more info on how to reach us. I'll be glad to help.
          </p>
    </article>


    <article class="aboutInfo">
        <div class="aboutImg">
          <img src="https://stickershop.line-scdn.net/stickershop/v1/product/8542/LINEStorePC/main.png;compress=true" alt="Olvin's pic">
        </div>
    
          <p>
             <span class="aboutName" style="font-size: 30px">Sam Early</span></br> 
             <cite style="font-size: 20px;">Full-Stack Web Developer</cite></br> 
          </p>
          
          <aside>
            <p>
              <span><a href="#"><i class="fab fa-linkedin"></i></a></span>
              <span><a href="#"><i class="fab fa-github"></i></a></span> 
              <span><a href="#"><i class="fab fa-facebook-square"></i></a></span> 
              <span><a href="#"><i class="fab fa-instagram"></i></a></span>
            </p>        
          </aside>
    
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit eveniet officia nostrum reiciendis ab illum voluptates consequatur, excepturi porro odio harum quo debitis corrupti voluptas recusandae architecto, a, distinctio quaerat.
            </p>
              <p>
                Contact me for any more info on how to reach us. I'll be glad to help.
              </p>
        </article>


        <article class="aboutInfo">
            <div class="aboutImg">
              <img src="https://i.imgur.com/Zr9DMVy.jpg" alt="David's Pic">
            </div>
        
              <p>
                 <span class="aboutName" style="font-size: 30px">David Zinser</span></br> 
                 <cite style="font-size: 20px;">Full-Stack Web Developer</cite></br> 
              </p>

              <aside>
                <p>
                  <span><a href="#"><i class="fab fa-linkedin"></i></a></span>
                  <span><a href="#"><i class="fab fa-github"></i></a></span> 
                  <span><a href="#"><i class="fab fa-facebook-square"></i></a></span> 
                  <span><a href="#"><i class="fab fa-instagram"></i></a></span>
                </p>        
              </aside>
        
                <p>
                    Being a part of this team was a blast!  We created - and deployed via Heroku - a fully functional CRUD web app employing HTML, JavaScript, Express, NodeJS, Mongoose, MongoDB and styled it with native Materialize features as well as other custom styling elements courtesy of Olvin.  To maximize readability and ensure scalability, we syntactically standardized our models, views, controllers and routes.  My favorite part of this project was how we were able to coalesce disparate viewpoints and experience levels to focus on executing this singular goal.
                </p>
                  <p>
                    If you have any questions, just email me!
                  </p>
            </article>
  </div>

  <article class="location loc2">
      <address id="localArea">
        <span>Address</span></br>
        Furever Friend Adoption Center
        ATTN: Development
        1625 Sundog Ranch Road
        Pasadena, CA 91101
      </address>
    </article>


   
  <%- include ../partials/footer %>
