
<%- include ../partials/header %>
<%-include ../partials/banner%>

  <%if(!isLogged) {%>
    <%- include ../partials/head %>
  <%} else {%>
    <%-include("../partials/navlogged")%>
  <%}%>
 
  <article>
    
      <p>
        Name: Sam Early <cite>The Full-Stack Enginer</cite> was
        first introduced to FurPet
      </p>
      
      <aside>
        <p>
          <span><i class="fab fa-linkedin" style="font-size:60px;color:red;"></i></span>
          <span><i class="fab fa-github" style="font-size:60px;color:red;"></i></span> 
          <span><i class="fab fa-facebook-square" style="font-size:60px;color:red;"></i></span> 
          <span><i class="fab fa-instagram" style="font-size:60px;color:red;"></i></span>
        </p>        
        <p>
          The movie earned $87 million during its initial release.
        </p>
      </aside>
      <p>
        More info about the movie...
      </p>
    </article>






    

  <%- include ../partials/footer %>
