<%- include ../partials/header %>
  <%if(!isLogged) {%>
    <%- include ../partials/head %>
  <%} else {%>
    <%-include('../partials/navlogged')%>
  <%}%>
  <!-- Your name will be inserted in heading  -->
<body class='account-body'>
    <div class='account-container'>
      <main>
        <div class="section">
        <h5>Edit <%=dog.name%>'s Details</h5>
          <form method="POST" action="/dog/<%=dog._id%>?_method=PUT" >
            <div class='row'>
                <div class="input-field col s6">
                    <input id="textarea1" class="materialize-textarea" type='text' name='name' value="<%=dog.name%>"required/>
                    <label for="textarea1">Name:</label>
                </div>
                <div class="input-field col s6">
                    <input id="textarea1" class="materialize-textarea" type='text' name='sex'/>
                    <label for="textarea1">Gender:</label>
                    <select id="textarea1" class="materialize-textarea" style="display:block;">
                      <% if (dog.sex === 'Male') {%>
                      <option value="Male" selected> Male </option>
                      <option value="Female">Female</option>
                        <% } else { %> 
                      <option value="Female" selected>Female</option>
                      <option value="Male"> Male </option>
                        <% } %>
                    </select>
                </div>
            </div>
            <div class='row'>
                <div class="col s6">
                  <p>
                    <label for="house-broken">
                      <input id="house-broken" type="checkbox" class="filled-in" name="isHouseBroken" value="<%=dog.isHouseBroken%>"/>
                      <span>House Trained</span>
                    </label>
                  </p>
                </div>
                  <div class="input-field col s6">
                    <input id="textarea1" class="materialize-textarea" type='text' name='breed' value="<%=dog.breed%>"required/>
                    <label for="textarea1">Breed:</label>
                </div>
              
            </div>
            <div class='row'>
                <div class="input-field col s6">
                  <input id="textarea1" class="materialize-textarea" type='text' name='age' min='0' value="<%=dog.age%>"/>
                  <label for="textarea1">Age:</label>
                </div>
                <div class="input-field col s6">
                  <input id="textarea1" class="materialize-textarea" type='text' name='location' value="<%=dog.location%>"required/>
                  <label for="textarea1">Location:</label>
                </div>
            </div>
            <div class='row'>
              <div class='col s12'><label>Description:</label></div>
              <div class='col s12'><textarea type="text" maxlength="100" name="description"><%=dog.description%></textarea></div>
            </div>
            <div class="section">
              <div class='row'>
                <div class='col s6'><button class="waves-effect waves-light btn" type="submit">Submit</button></div>
                <form action="/dog/<%=dog._id%>?_method=DELETE" method="post">
                    <div class='col s6'><button class="waves-effect waves-light btn">Delete Pet</button></div>
                    </div>
                </form> 
              </div>
            </div>
      </form>
      </div>
    </main>
  </div>
</body>

<%- include ../partials/footer %>