<div class="page-div"><%- include ../partials/header %>
<div class="header-div">
  <%if(!isLogged) {%>
    <%- include ../partials/head %>
  <%} else {%>
    <%-include("../partials/navlogged")%>
  <%}%>
  </div>
<div class="body-div-edit">
<body class="account-body">
    <div class="account-container">
      <main>
        <div class="section">
          <h5>Edit <%=dog.name%>'s Details</h5>
            <form method="POST" action="/dog/<%=dog._id%>?_method=PUT" >
              <div class="row">
                <div class="col s6"><label>Name:</label></div>
                <div class="col s6"><label>Gender:</label></div>
                <div class="col s6"><input type="text" name="name" value="<%=dog.name%>"required/></div>
                <div class="col s6"><select id="dog-sex" name="sex" style="display:block;">
                    <% if (dog.sex === "Male") {%>
                      <option value="Male" selected> Male </option>
                      <option value="Female">Female</option>
                    <% } else { %> 
                      <option value="Female" selected>Female</option>
                      <option value="Male"> Male </option>
                    <% } %>
                  </select></div>
                </div>
              </div>
              <div class="row">
                <div class="col s6"><label>Breed:</label></div>
                <div class="col s6"><label>Age:</label></div>
                <div class="col s6"><input type="text" name="breed" value="<%=dog.breed%>"required/></div>
                <div class="col s6"><input type="text" name="age" min="0" value="<%=dog.age%>"/></div>
              </div>
              <div class="row">
                <div class="col s12"><label>Location:</label></div>
                <div class="col s12"><input type="text" name="location" value="<%=dog.location%>"required/></div>
              </div>
              <div class="row">
                <div class="col s12"><label>Description:</label></div>
                <div class="col s12"><textarea type="text" maxlength="100" name="description"><%=dog.description%></textarea></div>
              </div>
              <div class="row">
                <div class="col s12"><label>Image:</label></div>
                <div class="col s6"><img class="edit-image" src="<%=dog.image%>"></div>
                <div class="col s6"><input type="text" name="image" value="<%=dog.image%>"required/></div>
              </div>
              <div class="row">
                <div class="col s12">
                  <p>
                    <label for="house-broken">
                      <input id="house-broken" type="checkbox" class="filled-in" name="isHouseBroken"
                        <% if(dog.isHouseBroken === true){%>
                          checked
                        <%}%>
                        />
                      <span>House Trained</span>
                    </label>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col s6"><button class="waves-effect waves-light btn" type="submit">Submit</button></div>
        </form>
                <form action="/dog/<%=dog._id%>?_method=DELETE" method="post">
                  <div class="col s6"><button class="waves-effect waves-light btn">Delete Pet</button></div>
                </form> 
              </div>
      </div>
    </main>
  </div>
</body>
</div>
<div class="footer-div-edit">
<%- include ../partials/footer %>
</div>
</div>