  <%- include ../partials/header %>
    <%- include ../partials/head %>
<section>
  <section id="homeBase">
      <header>
        <h1>Hello, Welcome to FurPets Website</h1>
        <p>A website designed for helping people adopt a dog or find their pets better home</p>
        <h2></h2>
        
        <ul>
              <% for (let i = 0; i < dogs.length; i++) {%>
              <li>Breed: <%= dogs[i].breed %></li>
              <li>Age: <%= dogs[i].age %></li>
              <li>Sex: <%= dogs[i].sex %></li>
              <li>House:
                <% if (dogs[i].isHouseBroken  === true) {%>
                  <%= dogs[i].name %> has been house trained.
                  <% } else {%> 
                    <%= dogs[i].name %> has not been house trained.
                    <% } %> 
                  </li>
                  <li><span>Location: </span><%= dogs[i].location %></li>
                </ul>
                
                <p><span></span>Description</span></br><%= dogs[i].description %></p>
              </header>
            </section>
            <article>
              <!-- This will be where the picture will be stored inside -->
              <!-- It will have the location, dog's name, and love's treat's in separate div's -->
              
              <div id="grid">
                <div class="box a">
                  
                  <p><span>View <a href="/dog/<%= dogs[i]._id%>"><%= dogs[i].name %>'s</a>  personal page.</span></p>
                </div>
                <div class="box b"></div>
                <div class="box c"></div>
                <div class="box d"></div>
              </div>
            </article>
            
          <% } %> 
        </section>

      <section>
        <ul>
        <% for (let j = 0; j < users.length; j++) {%>
          <h1>Contact Information</h1>
          <li>Owners name: <span><%=users[j].name%></span> </li>
          
          <% } %>
        </ul>
      </section>
  <a href="/dog/new">Create a New Dog</a>

  <%- include ../partials/footer %>
  

