  <%- include ../partials/header %>
  <%if(!isLogged) {%>
    <%- include ../partials/head %>
  <%} else {%>
    <%-include('../partials/navlogged')%>
  <%}%>
  <section>
    <header>
        <h1>Hello, Welcome to FurPets Website</h1>
        <p>A website designed for helping people adopt a dog or find their pets better home</p>
        <p>A little quick change</p>
    <section>

    <section id="homeBase">
        </header>
      </section>
        <article>
          <!-- This will be where the picture will be stored inside -->
          <!-- It will have the location, dog's name, and love's treat's in separate div's -->
                
          <div class="flexStyle">
              <ul>
                <% for ( let i = 0; i < dogs.length; i++) {%>
                  <li>
                    <div class="wrapper">
                        <div class="box">
                          <a href="/dog/<%= dogs[i]._id %>"><img src="<%= dogs[i].image %>" alt="<%= dogs[i].description %>" ></a>
                          <div class="box child"> 
                            <p>Name: <%= dogs[i].name %></p>
                          </div>
                          <div class="box child">
                            <p class="moveRight">Breed: <%= dogs[i].breed %></p>
                          </div>
                        </div>
                    </div>
                  </li>
                <% } %>
              </ul>
            </div>
        </article>
       
    </section>

    
      <a href="/dog/new">Do you want to post your dog for adoption?</a>


  <%- include ../partials/footer %>
  

