  <%- include ../partials/header %>
  <%-include ../partials/banner %>
    <%if(!isLogged) {%>
      <%- include ../partials/head %>
    <%} else {%>
      <%-include("../partials/navlogged")%>
    <%}%>
  <section>
    <section id="homeBase">
    <p class="message"><%=message%></p>
        </header>
      </section>
        <article>
          <div class="flexStyle">
              <ul>
                <% for ( let i = 0; i < dogs.length; i++) {%>
                  <li>
                    <div class="wrapper">
                        <div class="box">
                          <a href="/dog/<%= dogs[i]._id %>"><img src="<%= dogs[i].image %>" alt="<%= dogs[i].description %>" ></a>
                          <div class="box child"> 
                            <p>Name: <%= dogs[i].name %></p>
                          </div>
                          <div class="box child">
                            <p class="moveRight">Breed: <%= dogs[i].breed %></p>
                          </div>
                        </div>
                    </div>
                  </li>
                <% } %>
              </ul>
            </div>
        </article>


        <section>
          <article id="getStarted">
            <h1>Get Started</h1>
          </article>
        </section>

        <section class="tableFlex">
          <article>
            <tbody><tr>
                <td class="obContentContainer" >
                  <table cellpadding="0" cellspacing="0" width="100%">
                    <tbody><tr>
                      <td valign="top">
                        <table class="obContentBlock" width="160" cellspacing="0" cellpadding="0">
                          <tbody><tr>
                            <td width="100%" height="15"></td>
                          </tr>
                          <tr>
                            <td class="obContentImage">                                                         
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-hbxcIq-uzdJe5KVZ5pMPHjBXSubekvGk9b1fiYErqXrP2i6-" alt="" >
                            </td>
                          </tr>
                          <tr>
                            <td height="15" width="100%"></td>
                          </tr>
                          <tr>
                            <td text-align="center" class="image-caption-content">
                              <h2>
                                Create your online gallery showcasing your personal and virtual collections.
                              </h2>
                            </td>
                          </tr>
                          <tr>
                            <td class="buttons-full-width">
                              <a href="/dog/new"  class="olvin_button" >Post Your Pet</a>
                            </td>
                          </tr>
                          <tr>
                            <td class="image-caption-bottom-gap" width="100%" height="5"></td>
                          </tr>
                        </tbody></table>
                        
                          <table cellpadding="0" cellspacing="0"  class="mobileHide" >
                            <tbody>
                              <tr>
                                <td></td>
                              </tr>
                          </tbody>
                        </table>


                      <table class="obContentBlock" cellspacing="0" cellpadding="0" >
                        <tbody>
                        <tr>
                            <td class="image-caption-top-gap"></td>
                        </tr>
                        <tr>
                          <td class="obContentImage">                                                   
                              <img src="http://cdn.akc.org/content/article-body-image/keeshond_dog_pictures.jpg"  alt="" text-align="3" />
                          </td>
                        </tr>
                        <tr>
                          <td height="15" width="100%"></td>
                        </tr>
                        <tr>
                          <td text-align="center" class="image-caption-content">
                            <h2>
                              Find the right pet for your home at this site. Visit us at our location.
                            </h2>
                          </td>
                        </tr>
                        <tr>
                            <td style="padding: 5px;">  

                              <a href="dog/about/#localArea" class="olvin_button">Our Location</a>   

                            <td class="image-caption-bottom-gap"></td>
                        </tr>
                        <tr>
                          <td class="buttons-full-width" >
                          </td>
                        </tr>
                      </tbody>  </table>
                     
                        <table cellpadding="0" cellspacing="0" class="mobileHide" >
                          <tbody><tr>
                            <td height="15" width="100%"></td>
                          </tr>
                        </tbody></table>
                      
                      <table class="obContentBlock" cellspacing="0" cellpadding="0">
                        <tbody><tr>
                          <td class="image-caption-top-gap" ></td>
                        </tr>
                        <tr>
                          <td class="obContentImage">
                              <img src="https://d17fnq9dkz9hgj.cloudfront.net/uploads/2012/11/150838553-tips-for-first-30-days-dog-632x475.jpg" alt="" text-align="3">
                          </td>
                        </tr>
                        <tr>
                          <td height="15" width="100%"></td>
                        </tr>
                        <tr>
                          <td text-align="center" class="image-caption-content">
                            <h2>
                              Connect with like-minded pet adopters, caretakers, and us for advice
                            </h2>
                          </td>
                        </tr>
                        <tr>
                          <td class="buttons-full-width" >
                            <a href="/dog/about"  class="olvin_button">Connect</a> 
                          </td>
                        </tr>
                        <tr>
                          <td></td>
                        </tr>
                      </tbody></table>
                      </td>
                    </tr>
                  </tbody></table>
                </td>
              </tr>
            </tbody>
          </article>
        </section>
        
        <article class="dogTreats">
          <main>
            <h2 >Best treats to give your pet</h2>
            <ol>
              <li>Crazy Dog Train Me - Mini Trai </li>
              <li>Marbone Dog Treats - Real Beef Flavor </li>
              <li>Milk Bone Marinesque Dog Treats</li>
              <li>Pedigree Dentistix</li>
              <li>CBD Large Dog Bone Treats</li>
              <li>High Value Dog Treats</li>
              <li>Stewart Pro Beef - Treat Beef Liver Freeze</li>
              <li>Blue Buffalo Blue Tasty Treats</li>
              <li>Pets Botanic Ritz Training Treats</li>
              <li>Tiny Natural Treats - Tasty Chicken Recipe</li>
              <li>Raw Paws Sweet Potato - Training Treats</li>
              <li>Soft Puppy Bites</li>
            </ol>
          </main>
        </article>
    </section>

  <%- include ../partials/footer %>
  

