  <%- include ../partials/header %>
  <%-include('../partials/banner.ejs')%>
    <%if(!isLogged) {%>
      <%- include ../partials/head %>
    <%} else {%>
      <%-include('../partials/navlogged')%>
    <%}%>
  <section>
    <header>
        <p>A website designed for helping people adopt a dog or find their pets better home</p>
        <p>A little quick change</p>
    <section>

    <section id="homeBase">
    <span><%=message%></span>
        </header>
      </section>
        <article>
          <!-- This will be where the picture will be stored inside -->
          <!-- It will have the location, dog's name, and love's treat's in separate div's -->
                
          <div class="flexStyle">
              <ul>
                <% for ( let i = 0; i < dogs.length; i++) {%>
                  <li>
                    <div class="wrapper">
                        <div class="box">
                          <a href="/dog/<%= dogs[i]._id %>"><img src="<%= dogs[i].image %>" alt="<%= dogs[i].description %>" ></a>
                          <div class="box child"> 
                            <p>Name: <%= dogs[i].name %></p>
                          </div>
                          <div class="box child">
                            <p class="moveRight">Breed: <%= dogs[i].breed %></p>
                          </div>
                        </div>
                    </div>
                  </li>
                <% } %>
              </ul>
            </div>
        </article>

        <section>
          <article id="getStarted">
            <h1>Get Started on Trying to Adopt a Pet</h1>
          </article>
        </section>

        <section class="tableFlex">
          <article >
            <tbody><tr>
                <td class="obContentContainer" >
                  <table cellpadding="0" cellspacing="0" width="100%">
                    <tbody><tr>
                      <td valign="top">
                        <table class="obContentBlock" width="160" cellspacing="0" cellpadding="0" >
                          <tbody><tr>
                            <td width="100%" height="15"></td>
                          </tr>
                          <tr>
                            <td class="obContentImage">                                                         
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-hbxcIq-uzdJe5KVZ5pMPHjBXSubekvGk9b1fiYErqXrP2i6-" alt="" ></a>
                            </td>
                          </tr>
                          <tr>
                            <td height="15" width="100%"></td>
                          </tr>
                          <tr>
                            <td text-align="center" class="image-caption-content">
                              <h2>
                                Create your online gallery showcasing your personal and virtual collections.                                                                                          </a>
                              </h2>
                            </td>
                          </tr>
                          <tr>
                            <td class="buttons-full-width" >
                                  <a href="/dog/new"  class="olvin_button" >Post Your Pet</a>
                            </td>
                          </tr>
                          <tr>
                            <td class="image-caption-bottom-gap" width="100%" height="5"></td>
                          </tr>
                        </tbody></table>
                        
                          <table cellpadding="0" cellspacing="0"  class="mobileHide" >
                            <tbody><tr>
                              <td></td>
                            </tr>
                          </tbody>
                        </table>


                      <table class="obContentBlock" cellspacing="0" cellpadding="0" >
                        <tbody>
                        <tr>
                            <td class="image-caption-top-gap"></td>
                        </tr>
                        <tr>
                          <td class="obContentImage">                                                   
                              <img src="https://img.purch.com/w/660/aHR0cDovL3d3dy5saXZlc2NpZW5jZS5jb20vaW1hZ2VzL2kvMDAwLzEwMS8wMTQvb3JpZ2luYWwvRG9nLXBlZWluZy5qcGc="  alt="" text-align="3" >
                          </td>
                        </tr>
                        <tr>
                          <td height="15" width="100%"></td>
                        </tr>
                        <tr>
                          <td text-align="center" class="image-caption-content">
                            <h2>
                              Find the right pet for your home at this site. Visit us at our location.
                            </h2>
                          </td>
                        </tr>
                        <tr>
                            <td style="padding: 5px;">
                              <a href="#" target="_blank" class="olvin_button">Our Location</a>   
                            <td class="image-caption-bottom-gap"></td>
                        </tr>
                        <tr>
                          <td class="buttons-full-width" >
                          </td>
                        </tr>
                      </tbody>  </table>
                     
                        <table cellpadding="0" cellspacing="0" class="mobileHide" >
                          <tbody><tr>
                            <td height="15" width="100%"></td>
                          </tr>
                        </tbody></table>
                      
                      <table class="obContentBlock" cellspacing="0" cellpadding="0"  >
                        <tbody><tr>
                          <td class="image-caption-top-gap" ></td>
                        </tr>
                        <tr>
                          <td class="obContentImage">
                              <img src="https://d17fnq9dkz9hgj.cloudfront.net/uploads/2012/11/150838553-tips-for-first-30-days-dog-632x475.jpg" alt="" text-align="3">
                          </td>
                        </tr>
                        <tr>
                          <td height="15" width="100%"></td>
                        </tr>
                        <tr>
                          <td text-align="center" class="image-caption-content">
                            <h2>
                              Connect with like-minded pet adopters, caretakers, and us for advice
                            </h2>
                          </td>
                        </tr>
                        <tr>
                          <td class="buttons-full-width" >
                            <a href="#"  target="_blank" class="olvin_button">Connect</a> 
                          </td>
                        </tr>
                        <tr>
                          <td></td>
                        </tr>
                      </tbody></table>
                      </td>
                    </tr>
                  </tbody></table>
                </td>
              </tr>
            </tbody>
          </article>
        </section>


        <article>
          <h2>Best Treats to give your pet</h2>
          <ul>
            <li></li>
          </ul>
        </article>

       
    </section>

    
      <a href="/dog/new">Do you want to post your dog for adoption?</a>


  <%- include ../partials/footer %>
  

