  <%- include ../partials/header %>
  <%-include('../partials/banner.ejs')%>
    <%if(!isLogged) {%>
      <%- include ../partials/head %>
    <%} else {%>
      <%-include('../partials/navlogged')%>
    <%}%>
  <section>
    <header>
        <p>A website designed for helping people adopt a dog or find their pets better home</p>
        <p>A little quick change</p>
    <section>

    <section id="homeBase">
    <span><%=message%></span>
        </header>
      </section>
        <article>
          <!-- This will be where the picture will be stored inside -->
          <!-- It will have the location, dog's name, and love's treat's in separate div's -->
                
          <div class="flexStyle">
              <ul>
                <% for ( let i = 0; i < dogs.length; i++) {%>
                  <li>
                    <div class="wrapper">
                        <div class="box">
                          <a href="/dog/<%= dogs[i]._id %>"><img src="<%= dogs[i].image %>" alt="<%= dogs[i].description %>" ></a>
                          <div class="box child"> 
                            <p>Name: <%= dogs[i].name %></p>
                          </div>
                          <div class="box child">
                            <p class="moveRight">Breed: <%= dogs[i].breed %></p>
                          </div>
                        </div>
                    </div>
                  </li>
                <% } %>
              </ul>
            </div>
        </article>

        <section>
          <article id="getStarted">
            <h1>Get Started on Trying to Adopt a Pet</h1>
            <div>
              <h4>Want to Post Your Pet?</h4>
              <p>Create a section for your pet on our website and have someone adopt your pet?</p>
            </div>
            <div>
              <h4>Donations</h4>
              <p>Give a small donation to our foundation <span class="highlight">&reg;FurPet friends</span> and help us find pets a hom</p>
            </div>
            <div>
              <h4>What does it take to raise a Pet</h4>
              <p>Its not hard to raise a pet, just a little bit of attention and care goes a long way.</p>
            </div>

            <tbody><tr>
                <td class="obContentContainer" style="padding: 0px 50px 0px 50px;">
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody><tr>
                      <td valign="top">
                        <table class="obContentBlock" width="160" cellspacing="0" cellpadding="0" border="0" align="left" style="width: 160px;">
                          <tbody><tr>
                            <td width="100%" height="15"></td>
                          </tr>
                          <tr>
                            <td class="obContentImage">
                              <a style="border: none; display: block;" href="#"  target="_blank">                                                          
                                <img border="0" src="#" width="160" height="122" alt="" text-align="3" style="display: block;">                                                      </a>
                            </td>
                          </tr>
                          <tr>
                            <td height="15" width="100%"></td>
                          </tr>
                          <tr>
                            <td text-align="center" class="image-caption-content">
                              <h2 style="margin: 0px 0px 10px 0px; line-height: 30px; font-family: Helvetica; font-weight: normal; font-size: 17px; color: #000000; text-decoration: none;">
                                <a href="#"  target="_blank" style="text-decoration: none; color: #000000">Create your online gallery showcasing your personal and virtual collections.                                                                                          </a>                                                                                      </h2>
                            </td>
                          </tr>
                          <tr>
                            <td class="buttons-full-width" style="padding: 5px 0px 10px 0px;">
                                  <a href="#"  target="_blank" class="olvin_button" style="background-color: #4b8bed; color: #FFFFFF; font-family: 'Source Sans Pro', Sans-Serif;        font-size: 16px!important;        line-height: 22px!important;        display: inline-block;        border-radius: 7px;        text-align: center;        text-decoration: none;        font-weight: bold; display: block; padding: 10px 0px;">ORGANIZE</a>
                            </td>
                          </tr>
                          <tr>
                            <td class="image-caption-bottom-gap" width="100%" height="5"></td>
                          </tr>
                        </tbody></table>
                        
                          <table text-align="left" border="0" cellpadding="0" cellspacing="0" width="30" class="mobileHide" style="width: 30px; height: 30px;">
                            <tbody><tr>
                              <td height="30"></td>
                            </tr>
                          </tbody></table>


                      <table class="obContentBlock" width="160" cellspacing="0" cellpadding="0" border="0" text-align="left" style="width: 160px;">
                        <tbody><tr>
                          <td class="image-caption-top-gap" width="100%" height="15"></td>
                        </tr>
                        <tr>
                          <td class="obContentImage">
                            <a style="border: none; display: block;" href="#"  target="_blank">                                                          
                              <img border="0" src="#" width="160" height="122" alt="" text-align="3" style="display: block;">                                                      </a>
                          </td>
                        </tr>
                        <tr>
                          <td height="15" width="100%"></td>
                        </tr>
                        <tr>
                          <td text-align="center" class="image-caption-content">
                            <h2 style="margin: 0px 0px 10px 0px; line-height: 30px; font-family: Helvetica; font-weight: normal; font-size: 17px; color: #000000; text-decoration: none;">                                                                                          <a href="https://www.artdex.com/search?&amp;utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign=artdex_newsletter&amp;utm_term=2017-10-18" data-link-id="131314434" target="_blank" style="text-decoration: none; color: #000000">                                                                                      Find new artists and discover trends in the global art community.                                                                                          </a>                                                                                      </h2>
                          </td>
                        </tr>
                        <tr>
                          <td class="buttons-full-width" style="padding: 5px 0px 10px 0px;">
                            </td>
                          </tr>
                          <tr>
                              <a href="#" target="_blank" class="olvin_button" style="background-color: #4b8bed;        color: #FFFFFF;        font-family: 'Source Sans Pro', Sans-Serif;        font-size: 16px!important;        line-height: 22px!important;        display: inline-block;        border-radius: 7px;        text-align: center; text-decoration: none; font-weight: bold; display: block; padding: 10px 0px;">DISCOVER</a>   
                          <td class="image-caption-bottom-gap" width="100%" height="5"></td>
                        </tr>
                      </tbody></table>
                     
                        <table text-align="left" border="0" cellpadding="0" cellspacing="0" width="30" class="mobileHide" style="width: 30px; height: 30px;">
                          <tbody><tr>
                            <td height="30"></td>
                          </tr>
                        </tbody></table>
                      
                      <table class="obContentBlock" width="160" cellspacing="0" cellpadding="0" border="0" align="right" style="width: 160px;">
                        <tbody><tr>
                          <td class="image-caption-top-gap" width="100%" height="15"></td>
                        </tr>
                        <tr>
                          <td class="obContentImage">
                            <a style="border: none; display: block;" href="#" target="_blank">                                                          
                              <img border="0" src="#" width="160" height="122" alt="" text-align="3" style="display: block;">                                                      </a>
                          </td>
                        </tr>
                        <tr>
                          <td height="15" width="100%"></td>
                        </tr>
                        <tr>
                          <td text-align="center" class="image-caption-content">
                            <h2 style="margin: 0px 0px 10px 0px; line-height: 30px; font-family: Helvetica; font-weight: normal;        font-size: 17px;        color: #000000;        text-decoration: none;">                                                                                          <a href="https://www.artdex.com/find-people?&amp;utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign=artdex_newsletter&amp;utm_term=2017-10-18" data-link-id="131314442" target="_blank" style="text-decoration: none; color: #000000">                                                                                      Connect with like-minded collectors, artists, and curators worldwide.                                                                                          </a>                                                                                      </h2>
                          </td>
                        </tr>
                        <tr>
                          <td class="buttons-full-width" style="padding: 5px 0px 10px 0px;">
                            <a href="#"  target="_blank" class="olvin_button" style="background-color: #4b8bed; color: #FFFFFF; font-family: 'Source Sans Pro', Sans-Serif; font-size: 16px!important; line-height: 22px!important; display: inline-block;        border-radius: 7px;        text-align: center;        text-decoration: none;        font-weight: bold;        display: block;        padding: 10px 0px;">    CONNECT     </a> 
                          </td>
                        </tr>
                        <tr>
                          <td width="100%" height="5"></td>
                        </tr>
                      </tbody></table>
                      </td>
                    </tr>
                  </tbody></table>
                </td>
              </tr>
            </tbody>
          </article>
        </section>


        <article>
          <h2>Best Treats to give your pet</h2>
          <ul>
            <li></li>
          </ul>
        </article>

       
    </section>

    
      <a href="/dog/new">Do you want to post your dog for adoption?</a>


  <%- include ../partials/footer %>
  

