<%- include ../partials/header %>
 <%- include ../partials/head %>

<h1>Show Page for FurPet</h1>
<section class="showGrid">
    <div class="h" id="middlePTag">    
        <p><span id="name">My dog <%= dog.name %> is wonderful and deserving of a new home.</p>
    </div>

    <div id="imgWrapper" class="i">
        <img src="#" alt="<%= dog.name %>" />
    </div>

    <div id="square" class="j">
      <ul>
        <li>Dog name:<a href="/dog/<%= dog._id %>"><%= dog.name %></a></li>
        <li>Breed: <%= dog.breed %></li>
        <li>Age: <%= dog.age %></li>
        <li>Sex: <%= dog.sex %></li>
        <li>House trained:
            <% if (dog.isHouseBroken  === true) {%>
            <%= dog.name %> has been house trained.
            <% } else {%> 
                <%= dog.name %> has not been house trained.
            <% } %> 
        </li>
      </ul>
    </div>
</section>
    <article>
      <main>
        <h1>Details about the owner of the dog</h1>
        <ul>
            <li>Name: <%= user.name %></li>
            <li>Phone number: <%= user.phone %></li>
            <li>Email: <%= user.email %></li>
        </ul>
      </main>
    </article>

<%- include ../partials/footer %>