<%- include ../partials/header %>
 <%- include ../partials/head %>

<h1>Show Page for FurPet</h1>
<section class="showGrid">
    <div class="h" id="middlePTag">    
        <p><span id="name">My dog <%= dog.name %> is wonderful and deserving of a new home.</p>
    </div>
    <div id="imgWrapper" class="i">
        <img src="#" alt="<%= dog.name %>" />
    </div>
    <div id="square" class="j">
        <% if (dog.isHouseBroken === true ) {%>
            <span>This dog has been well potty.</span>
        <% } else {%>
                <span>This dog needs to be potty trained.</span>
            <% } %>
    </div>

    <article>
      <main>
        <h1>Details about the owner of the dog</h1>

        <ul>
            <li>Name: <%= user.name %></li>
            <li>Phone number: <%= user.phone %></li>
            <li>Email: <%= user.email %></li>
        </ul>
      </main>
    </article>
</section>
<%- include ../partials/footer %>